// reset
*
	box-sizing: border-box

body,html
	height: 100%
	margin: 0
	padding: 0
	font-family: 'Roboto', sans-serif

// grid
.main
	position: relative
	min-height: 100%
	min-width: $min-width-app
.section
	display: flex
.container
	max-width: $max-width-container
	margin: auto

.wrap-block
	display: block
	
.wrap-inline
	display: inline

.row
	display: flex
.column
	flex:1 0 auto
	display: flex
	flex-direction: column
.popup
	background-color: $dark1opacity50
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: flex

// hide/show element
[data-visible=false]
		display: none
// components
// common component
.title
	color: $dark1
	font-size:42px
	font-weight: 700
	/*text-align: center/**/

.btn
	background: transparent 
	cursor: pointer
	outline: 0px solid $onFocus /* Параметры рамки */
	transition: all 0.45s ease-in-out
	&:hover
		color: red
		outline: 3px solid $onFocus /* Параметры рамки */
		//transition: all 0.15s ease-in-out
	&:focus
		outline: 3px solid $onFocus /* Параметры рамки */
		transition: all 0.15s ease-in-out
		
	
	&--brd0
		border: 0px solid #000
		border-radius: 3px