// color
$dark1opacity50:rgba(18, 18, 18, 0.5)
$dark1:#121212
$main1:#E4C1AE
$main2:#fff


$bg-alert:$main2
$onFocus:#5569fa

// sizes
//$max-width-container: 1440px
$max-width-container: 980px
$max-width-alert: 920px
$max-height-alert: 210px
//$min-width-app: 363px

// padding
$context-padding-mobile:15px
$context-padding-tablet:30px
$context-padding-desktop:0px

// var 
$k-desktop:1.1
$k-mobile:1.2

// text
//font-size
$text-font-size-desktop: 16px
$text-font-size-tablet: $text-font-size-desktop*$k-desktop
$text-font-size-mobile: $text-font-size-desktop*$k-mobile

$text-line-height-tablet:24px
$text-line-height-tablet:$text-line-height-tablet*$k-desktop
$text-line-height-mobile:$text-line-height-tablet*$k-mobile


// title
$title-font-size-desktop:42px
$title-font-size-tablet:$title-font-size-desktop*$k-desktop
$title-font-size-mobile:$title-font-size-desktop*$k-mobile

$title-line-height-desktop:50.4px
$title-line-height-tablet:$title-line-height-desktop*$k-desktop
$title-line-height-mobile:$title-line-height-desktop*$k-mobile