// color
$dark1opacity50:rgba(18, 18, 18, 0.5)
$dark1:#121212
$main1:#E4C1AE
$bg-alert:#fff

// sizes
$max-width-container: 1440px
$max-width-alert: 920px
$max-height-alert: 210px
$min-width-app: 363px

// padding
$p-mobile:15px
$p-tablet:30px
$p-desktop:0px