doctype html
html(lang="en")
	head
		// Required meta tags
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Yurii Holub - Recruitment task
		link(rel="stylesheet", href="/main.css")
		//link(rel="stylesheet", href="/debug.css")
		script(src="main.js")
	body
		main.main
			article.popup
				.alert
					button.alert__btn-close.btn.btn--brd0
						| X
					h3.alert__title.title Alert!
					p.alert__mess
						| You have clicked 
						b
							span.v-count X 
							| times 
						| to related button.
						span.alert__wrap-btn-reset
							button.alert__btn-reset.btn.btn--brd0
								| reset
			.container
				article.news
