doctype html
html(lang="en")
	head
		// Required meta tags
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Yurii Holub - Recruitment task
		link(rel="stylesheet", href="/main.css")
		//link(rel="stylesheet", href="/debug.css")
		script(src="main.js")
	body
		main.main
			article.popup(data-visible="false" onclick="popup.close(event)")
				.alert(role="alert" aria-live="assertive")
					button.alert__btn-close.btn.btn--brd0(onclick="popup.close(event)")
						| X
					h3.alert__title.title Alert!
					p.alert__mess
						| You have clicked 
						b
							span.v-count(aria-value="ss") X
							|  times 
						| to related button.
						span.alert__wrap-btn-reset.wrap-inline
							button.alert__btn-reset.btn(data-visible="false" onclick="popup.resetCount()")
								| reset
			.container
				article.news.row
					.news__hero.column
						img.hero(src="images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_480.jpg")
					.news__content.column
						h2.news__title.title Lorem Ipsum
						p.news__text.text Infinitely scalable, feature-rich and cloud-native data management and protection for modern and legacy infrastructures and SaaS platforms, managed via a single app with no hardware required.
						.news__wrap-btn.wrap-block
							button.news__btn-add-count.btn(onclick="onClick('id2')") Button


