doctype html
html(lang="en")
	head
		// Required meta tags
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title [Name] [Surname] - Recruitment task
		link(rel="stylesheet", href="/main.css")
		script(src="main.js")
	body
		h1.title TEXT2