.container
	article.news.row
		.news__hero.column
			img.hero(
				src="images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_480.jpg"
				alt="Image to text"
				)
		.news__content.column
			h2.news__title.title Lorem Ipsum
			p.news__text.text Infinitely scalable, feature-rich and cloud-native data management and protection for modern and legacy infrastructures and SaaS platforms, managed via a single app with no hardware required.
			.news__wrap-btn.wrap-block
				button.news__btn-add-count.btn(
					onclick="onClick('id2',event)"
					title="Increment counter by 1") Button

